.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.nosotros {
    width: 100%;
    padding: 2rem;
}

.about span {
    font-size: 1rem;
}

.nosotros h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.vision_container {
    padding: 0rem 3rem;
}

.vision {
    color: white;
    padding: 2rem 0rem;
}

.vision h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 5rem;
    color: white;
}

.vr {
    border-left: none;
    border-bottom: 0.5rem solid var(--ligth-blue-color);
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.valores-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.about .valores-list span {
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0rem;
}

/** animations **/
.opacity-0{
    opacity:0;
}

.slideLeft-enter {
    transform: translateX(20%);
    opacity: 0;
}

.slideLeft-enter-done {
    transform: translateX(0);
    opacity:1;
}

.slideLeft-enter.slideLeft-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
}

.slideRight-enter{
    transform: translateX(-20%);
    opacity:0;
}

.slideRight-enter-done {
    transform: translateX(0);
    opacity:1;
}

.slideRight-enter.slideRight-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
}

/****************/
@media (min-width: 600px) {
    .about .valores-list span{
        font-size: 1.5rem;
        margin: 0rem 2rem;
    }
    .about span {
        font-size: 1.25rem;
    }
    .top-line {
        height: 0.5rem;
    }
    .nosotros {
        width: 60%;
    }
}

@media(min-width: 770px){ 
    .vision_container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: none;
        padding-right: none;
    }
    .vision {
        padding: 2rem;
    }  
    .vr {
        border-right: 0.5rem solid var(--ligth-blue-color);
        border-bottom: none;
    }
    .valores-list {
        padding-bottom: 2rem;
    }
}