.main-navigation .navbar-nav .nav-link.active, .main-navigation .navbar-nav .nav-link:focus, .main-navigation .navbar-nav .nav-link:hover, .main-navigation .navbar-nav .nav-link:active, .main-navigation .navbar-brand.active, .main-navigation .navbar-brand:focus, .main-navigation .navbar-brand:hover, .main-navigation .navbar-brand:active, .main-navigation .dropdown-item:focus, .main-navigation .dropdown-item:hover, .main-navigation .dropdown-item:active {
    color: var(--purple-color);
    background-color: white;
    border-radius: 5%;
}

.main-navigation .navbar-nav .nav-link, .main-navigation .navbar-brand, .main-navigation .dropdown-item {
    color: white;
    padding: 0.25rem;
    margin: 0.4rem;
}

.main-navigation .navbar, .main-navigation .dropdown-menu {
    color: var(--purple-color);
    background-color: var(--purple-color);
}

.nav-link{
    font-size: 1.25rem;
}

.main-navigation .logo {
    position: absolute;
    top: 1.2rem;
    left: 3rem;
    max-width: 5rem;
    height: auto;
}

.top-line {
    margin-top:0;
    margin-bottom: 2.5rem;
    padding: 0px;
    height: 1rem;
}

.top-white-line {
    margin: 0px;
    padding: 0px;
    height: 2rem;
}

.navbar-collapse {
    text-align: right;
}

@media (min-width: 600px) {
    .main-navigation .logo {
        max-width: 7rem;
    }
    .top-line{
        margin-bottom: 4rem;
    }
    /*
    .navbar {
        padding: 0.5rem 4rem;
    } */
}