/* #content {
    margin-top: 98px;
} */

.banner-fiestas {
    min-height: 90vh;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-image: url('../../Assets/Images/Home/foto1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-fiestas-container {
    background-color: var(--ligth-blue-color);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-custom-block {
    display: flex;
    align-self: center;
}

.btn-outline-light {
    color: white;
    background-color: transparent;
    font-weight: bold;
    border-color: white;
    border-width: 3px;
}

.btn-outline-light:hover {
    background-color: white;
    color: var(--ligth-blue-color);
}

.btn-outline-light:active {
    background-color: white !important;
    color: var(--ligth-blue-color) !important;
    box-shadow: 0 0 0 1px transparent;
}

.btn-outline-light:focus {
    box-shadow: 0 0 0 1px transparent;
}

/*purple*/

.btn-outline-dark {
    color: var(--purple-color);
    background-color: white;
    border-color: var(--purple-color);
    border-width: 3px;
    font-weight: bold;
}

.btn-outline-dark:hover {
    background-color: var(--purple-color);
    color: white;
    border-color: var(--purple-color);
}

.btn-outline-dark:active {
    border-color: var(--purple-color)!important;
    background-color: var(--purple-color) !important;
    color: white!important;
    box-shadow: 0 0 0px 3px var(--purple-color-light) !important;
}

.btn-outline-dark:focus {
    box-shadow: 0 0 0 1px transparent;
}

/**/

.fiestas-header {
    font-family: 'Grand Hotel', cursive;
    font-size: 5rem;
    color: white;
}

.site-font {
    font-family: 'Open Sans', sans-serif;
}

.quienes-somos {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.populares-container {
    background-color: #f7f1f5;
}

.populares-container h2 {
    margin: 1rem auto;
    text-align: center;
}

.populares-container h3 {
    margin: 1rem auto;
    font-size: 1.8rem;
    text-align: center;
}

.populares-container img {
    padding-left: 2rem;
    padding-right: 2rem;
}

/****** Personaliza tu fiesta ******/

.personal-banner {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: url('../../Assets/Images/Home/foto3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.personal-banner h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.personal-banner h2 {
    text-align: center;
    color: white;
    font-size: 1.25rem;
}

/*interes*/

.interesa_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom:1rem;
}

.interesa_container h2 {
    font-size: 1.5rem;
}

.interesa_container .btn {
    font-size: 0.75rem;
}

.interesa_globos{
    padding: 0 0.5rem;
}

/*otros*/

span {
    font-size: 1rem;
}

@media (min-width: 600px) {
    .personal-banner{
        width: 100%;
        height: 60vh;
    }
    .personal-banner h1{
        font-size: 3rem;
    }
    .personal-banner h2{
        font-size: 1.25rem;
    }
    .interesa_container h2 {
        font-size: 2.5rem;
        padding: 0;
    }
    .interesa_container .btn {
        font-size: 1rem;
        margin-top: 2rem;
    }
    .top-line {
        height: 0.5rem;
    }
    .fiestas-header {
        font-size: 5rem;
    }
    .banner-fiestas {
        font-size: 6rem;
    }
}