.main-content {
    /* margin-top: 56px; */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.contactWhats {
    z-index: 2;
    cursor: pointer;
    border: none;
    background-color: #4FCE5D;
    color: white;
    position: fixed;
    top: 50%;
    left: 0;
    padding: 0.5rem;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

@media (min-width: 600px) {
    .contactWhats {
        padding: 0.75rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}