.animation-object{
    opacity: 0;
}

.animation-object.fade-enter {
    opacity: 0;
}

.animation-object.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.animation-object.fade-enter-done {
    opacity: 1;
}