footer {
    background-color: var(--deep-blue-color);
    color:white;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 2vh 4vw;
    flex-shrink: 0;
    padding-bottom: 3rem;
    padding-top:0;
    font-size:1rem;
}

.center-items{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-content: center;
}

footer .logo-astra{
    width: 40%;
    height: auto;
    padding-left: 1rem;
}

footer .center-items a{
    color: white;
}

footer .center-items a:hover {
    color: var(--blue-color);
}

.social-networks{
    flex-direction: row;
}

footer .social-networks a:hover{
    color: var(--blue-color);
}

footer .social-networks svg {
    margin-left: .75rem;
}

footer svg:hover{
    color: var(--blue-color);
}