:root {
  --purple-color: #8f55a2;
  --purple-color-light: #c183d4;
  --deep-blue-color: #1b1c54;
  --ligth-blue-color: #06badf;
  --green-color: #c1da38;
}

/*Common*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--deep-blue-color);
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--purple-color);
}

.bg-purple {
  background-color: var(--purple-color);
}

.bg-green {
  background-color: var(--green-color);
}