.title{
    font-size:3vw;
    color:#1a1b54;
    font-weight:bold
}
.content{
    color:#1d1d53;
    font-size:2vw;
}

.imageClass2{
    width:100%;
    height:auto;
    max-height:30vh;
    cursor:pointer;
    position: relative;
    top: 50%;
    transform: translate(0,-50%) 
}

.adicional{
    font-family: "Open Sans";
    font-weight:bold;
    font-size:2.5vw;
    color:#1a1b51;
    margin:0;
    text-align: center;
    /* centra verticalmente el texto */
    display: inline-flex;
    align-items: center;
}

.secSpec{
    font-family: "Open Sans";
    font-weight:bold;
    font-size:2.5vw;
    color:#1a1b51;
    margin-right:1rem;
    border: 4mm ridge rgb(170, 50, 220, .6);
}

.adicional-container{
    margin:0;
    margin-top:2rem;
    margin-bottom: 2rem;
}

.adicional-element-container{
    margin-bottom:2rem;
    width:33%;
    display:flex;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 768px) {
    body{
        /* background-color:blue; */
    }
    .adicional-element-container{
        padding:0rem 3rem;
        justify-content: start;
        width:100%;
    }
    .adicional{
        width:25%;
    }
    .secSpec{
        width:50%;
    }
}

